@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme-bg: 26 25 31;
    --theme-bg-alt: 42 40 53;
    --theme-fg: 217 220 212;
    --theme-fg-muted: 142 141 158;

    --theme-red: 255 71 108;
    --theme-green: 0 255 177;
    --theme-yellow: 249 254 133;
    --theme-blue: 127 197 255;
}

html, body {
    background-color: rgb(var(--theme-bg));
    color: rgb(var(--theme-fg));
}